

body {
font-family: 'Readex Pro', sans-serif;
text-align: center;
background-image: url("https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
background-size: cover;
background-attachment: fixed;
color: black;
background-color: lightgrey;
}



.container{
padding: 20px;
margin: auto;
width: 60%;
margin-top: 20%;
border-radius: 20px;
text-align: center;
align-items: center;
background-color: #C3D3DA;
border-style: solid;
box-shadow: 0 8px 6px -2px #5E7A84;
color: lightgrey;
}

h2 {
  color: black;
}

.paragraph {
  font-weight: 400;
  color: black;
}

form {
display: inline-block;
text-align: center;
margin: 0 auto;
font-style: normal;

}

input{
padding: 4px 15px 4px 5px;
text-align: center;
font-style: normal;
}

#button{
display: inline-block;
background-color: #706161;
color:#ffffff;
border-radius: 5px;
text-align:center;
margin-top:2px;
padding: 5px 15px;
}

#button:hover{
cursor: pointer;
opacity: .8;}

ol {padding-left: 20px;}

ol li {padding: 5px;color:#000;}

ol li:nth-child(even){background: #dfdfdf;}

.strike{text-decoration: line-through;}

li:hover{
  cursor: pointer;
 }

.delete {
	display: none;
}

li > crossOutButton {
	background: none;
	border: none;
	float: right;
	color: #025f70;
	font-weight: 800;
}
